---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="SEO Example" description="Esto es una descripcion para index SEO">
   <a href="/">Volver Atras</a>
   <p>Inspecciona el source code para ver el SEO Generado en el index/WebSite</p>
   <a href="/seo/article">Ver SEO Generado para un articulo</a>
</MainLayout>
