---
import MainLayout from '@layouts/MainLayout.astro';
import Modal from '@xexiu/astro-modal';
---

<MainLayout title="Modal Example">
   <Modal
      id="shareSocial"
      ariaLabel="Compartir en las redes"
      btnCloseAriaLabel="Cerrar Modal"
   >
      <div slot="open-modal-button">Abrir Modal</div>
      <h2 slot="modal-title">Modal Title</h2>
      <div slot="modal-main">
         <h4>Modal Main</h4>
         <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nesciunt
        placeat officia, aliquid enim corrupti error repellat iusto corporis
        commodi ad natus ratione aut iure nisi deserunt soluta quam iste!
         </p>
      </div>
      <div slot="modal-footer">Modal Footer</div>
   </Modal>

   <a href="/">Volver Atras</a>
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    dolorum distinctio, accusamus impedit unde facilis, dignissimos mollitia
    pariatur, temporibus voluptas cum at sed? Aut est temporibus neque minima sed
    nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deleniti
    nesciunt ad repellendus, nulla perspiciatis beatae quo impedit? Enim expedita
    laudantium dicta reprehenderit neque adipisci unde quidem totam sint itaque?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsa
    labore aperiam numquam? Deserunt esse repudiandae, commodi enim praesentium
    vel iste voluptates accusamus aliquam exercitationem eum quia eius. Qui, iste!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, animi.
    Ullam harum ipsam quos sint ipsa aliquam magni. Earum voluptatibus quasi
    possimus delectus minima eos ullam adipisci amet a velit. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Necessitatibus dolorum distinctio,
    accusamus impedit unde facilis, dignissimos mollitia pariatur, temporibus
    voluptas cum at sed? Aut est temporibus neque minima sed nam? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Itaque deleniti nesciunt ad
    repellendus, nulla perspiciatis beatae quo impedit? Enim expedita laudantium
    dicta reprehenderit neque adipisci unde quidem totam sint itaque? Lorem ipsum
    dolor sit amet consectetur, adipisicing elit. Consequuntur ipsa labore aperiam
    numquam? Deserunt esse repudiandae, commodi enim praesentium vel iste
    voluptates accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem
    ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, animi. Ullam
    harum ipsam quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus
    delectus minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Necessitatibus dolorum distinctio, accusamus
    impedit unde facilis, dignissimos mollitia pariatur, temporibus voluptas cum
    at sed? Aut est temporibus neque minima sed nam? Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla
    perspiciatis beatae quo impedit? Enim expedita laudantium dicta reprehenderit
    neque adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Necessitatibus dolorum distinctio, accusamus impedit unde
    facilis, dignissimos mollitia pariatur, temporibus voluptas cum at sed? Aut
    est temporibus neque minima sed nam? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Itaque deleniti nesciunt ad repellendus, nulla perspiciatis
    beatae quo impedit? Enim expedita laudantium dicta reprehenderit neque
    adipisci unde quidem totam sint itaque? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Consequuntur ipsa labore aperiam numquam?
    Deserunt esse repudiandae, commodi enim praesentium vel iste voluptates
    accusamus aliquam exercitationem eum quia eius. Qui, iste! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Assumenda, animi. Ullam harum ipsam
    quos sint ipsa aliquam magni. Earum voluptatibus quasi possimus delectus
    minima eos ullam adipisci amet a velit.
   </p>
</MainLayout>

<style is:inline>
  body {
    padding: 100px;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .btn-modal {
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 1%;
  }
</style>
