---
import MainLayout from '@layouts/MainLayout.astro';
---
<MainLayout>
   <nav>
      <ol>
         <li>
            <a href="/modal">Modal Example</a>
         </li>
         <li>
            <a href="/tabs">Tabs Example</a>
         </li>
         <li>
            <a href="/seo">SEO Example</a>
         </li>
         <li>
            <a href="/progress-bar">Progress Bar Example</a>
         </li>
      </ol>
   </nav>
</MainLayout>
